In [6]:
print("Block Mob lab Date",  "02 Jan",2025)

Block Mob lab Date 02 Jan 2025

In [7]:
print("Today my first day at Blockmob Lab \n i am really enjoyed today")

Today my first day at Blockmob Lab
 i am really enjoyed today

In [11]:
print("Hello word"+ "5") #() a function

Hello word5

In [12]:
print(9*43)

387

 #### Data Types

In [15]:
num =34435
flt =34.343
compls = 4j

In [17]:
print(type(num))

<class 'int'>

In [18]:
print(type(flt))

<class 'float'>

In [19]:
print(type(compls))

<class 'complex'>

In [20]:
print(num+flt)

34469.343

In [21]:
print(flt+compls)

(34.343+4j)

In [22]:
print(flt-compls+num)

(34469.343-4j)

In [23]:
correct = True
empty = None

In [24]:
print(type(correct))

<class 'bool'>

In [25]:
print((type(empty)))

<class 'NoneType'>

In [27]:
str = "45"
number = 354
str_number = int(str)
total = str_number + number
print(total)

399

In [35]:
a = int(input("Enter First number "))
b = int(input("Enter Second number "))
add = a+b
sub = a-b
div = a/b
remin = a%b
s =a//b

Enter First number 45
Enter Second number 34

In [36]:
print(add)
print(sub)
print(div)
print(remin)
print(s)

79
11
1.3235294117647058
11
1